// stylelint-disable value-keyword-case
$font__main: 'Raleway', sans-serif;
$font__heading: 'abril-display', serif;

// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: 'Inconsolata', monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
