#post-66{
    .entry-header{
        .header-wrap{
            .header-top-image{
                background-position: 75% center;
                @include mq($mq670){
                    background-position: center center;
                }
            }
        }
    }
    .entry-content{
        .design-wrapper{
            .md-col-2{
                padding:0 2rem;
                @include mq($mq600){
                    padding:0 3rem;
                }
                p{
                    padding: 0;
                }    
            }
            @include mq($mq600){
                .md-second-img.aos-init.aos-animate {
                    text-align: center;
                    img{
                        width:100%;
                    }
                }
                .md-third-img{
                    .d-img3 {
                        padding: 0 3rem;
                        @include mq($mq670){
                            padding:0;
                        }
                    }  
                }
            }
            @include mq($mq670){
                .md-design-section4{
                    >.design-text-wrapper{
                        grid-column:2;
                        grid-row: 1; 
                        margin-left:1rem;
                    }
                    >.d-img3{
                        grid-column:1;
                        grid-row: 1;
                    }
                }
            }
                
        }
        
        .dev-wrapper{
            padding-top: 2rem;
            .dev-inner-wrapper{
                padding-bottom: 2rem;
            }
            .dev-movie{
                @include mq($mq600){
                    padding: 0 3rem;
                }
                @include mq($mq670){
                    padding: 0 6rem;
                }
            }
            @include mq($mq1024){
                width: 84.157%;
                margin: 0 auto;
                padding-top:2rem;
                .dev-inner-wrapper {
                   p{
                       padding:0;
                   }
                    .dev-movie{
                        padding:0;
                    }
                }
                .md-dev2{
                    .dev-text-wrapper{
                        order:2;
                    }
                    .dev-movie{
                        order:1;
                    } 
                }
                
            }
        }
    }
}